* {
	box-sizing: border-box;
	outline: none;
}
html {height:100%;}
body {
	position: relative;
	min-height:100%;
	background-image: url(https://habboemotion.com/resources/images/homebgs/nl_green_bg.gif);
	margin: 0;
	font-family: Sans-serif;
	padding-top: 10px;
	padding-bottom: 3em;
}
h1, main {
	filter: drop-shadow(3px 3px 3px rgba(0,0,0,.6));
}
h1 {
	margin-top: 0;
	text-align: center;
	color: white;
}
main {
	background-image: linear-gradient(0deg, #eee, white);
	margin: 0 auto;
	border-radius: 4px;
	padding: 15px;
	max-width: 778px;
	text-align: center;
	overflow: auto;
}
@media screen and ( max-width: 808px ){
    main {
        margin: 0 15px;
    }
}


details {
	text-align: left;
	margin-bottom: 15px;
	line-height: 1.5em;
	transition: all .4s;
}
details[open] {
	padding-bottom: 10px;
	border-bottom: 1px solid #bbb;
}
details summary {
	cursor: pointer;
	display: inline-block;
	text-align: left;
}
details .details-body {
	animation: sweep 0.5s ease-in-out;
	text-align: center;
}
@keyframes sweep {
	0%    {opacity: 0; transform: translateX(-10px);}
	100%  {opacity: 1; transform: translateX(0);}
}
details .details-body p {
	text-align: justify;
	text-indent: 4em;
}
details .details-body p:first-line {
}
details tr td:first-child {
	text-align: right;
}
details tr td:not(:first-child) {
	text-align: left;
}
input[type="button"] {
	cursor: pointer;
	background: #6c9833;
	/*background-image: linear-gradient(to bottom, #4a731f, #4d6f29);*/
	border-radius: 4px;
	color: #ffffff;
	font-size: 15px;
	padding: 4px 8px 4px 8px;
	text-decoration: none;
	border: 1px solid #527326;
	border-radius: 3px;
	margin: 3px;
	transition: background .4s;
}

input[type="button"]:hover {
	background: #396c11;
	border-color: #23420a;
	/*background-image: linear-gradient(to bottom, #264e00, #1c3800);*/
}
input[type="button"]:active {
	background: #2b4d11;
	border-color: #132107;
}
.btn-1 {
	filter: hue-rotate(90deg);
}
.btn-2 {
	filter: hue-rotate(180deg);
}
.btn-3 {
	filter: hue-rotate(270deg);
}

#copy, #calc, #clean {
    vertical-align: middle;
}
#copy {
	white-space: normal;
    width: 60px;
	filter: hue-rotate(130deg);
	font-size: 7pt;
}
#calc {
	margin: 5px auto;
}
#clean {
	filter: hue-rotate(300deg);
	font-size: 7pt;
}
#status, #qtdSelect, #qtdCovered {
	display: block;
}

.progress {
    width: calc(100% + 30px);
	margin: 15px -15px 15px -15px;
	background-color: transparent;
}

.progress .indeterminate:before, .progress .indeterminate:after {
    background-size: 35px 20px, 100% 100%, 100% 100%;
    background-image: -webkit-linear-gradient( 135deg, transparent, transparent 33%, rgba(0,0,0,.1) 33%, rgba(0,0,0,.1) 66%, transparent 66%),
					  -webkit-linear-gradient( top, rgba(255, 255, 255, .25), rgba(0,0,0,.2)),
     				  -webkit-linear-gradient( left, #305112, #6c9833);
}

.container {
	max-width: 100%;
	overflow: auto;
}
#font {
	position: relative;
	appearance: div;
	font-family: Consolas;
	font-size: 13pt;
	line-height: 1em;
	border: 1px solid #6c9833;
	display: inline-block;
	min-width: 1em;
	min-height: 1em;
	width: auto;
	height: auto;
	vertical-align: top;
	text-align: left;
}
#font {
	border-style: dotted;
}
#font:not([contenteditable]) {
	pointer-events: none;
}
#font:not([contenteditable]):after {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.2);
}

footer {
	position: absolute;
	left: 0; bottom: 0;
	
	width: 100%; min-height: 3em;
	
	background-color: rgba(20,20,20,.9);
	color: #888;
	
	text-align: center;
	padding: 5px;
	padding-top: 15px;
	font-size: .7em;
}